{% extends 'base.html' %}

{% block content %}


{# 인라인과 인라인 블럭의 차이는 인라인 블럭은 인라인에서 불가능한  너비, 높이, 마진, 패딩 속성 조절 가능 #}
{# overflow: hideen은 넘어간 내용은 모두 삭제 #}
{# 또한 스크롤로도 할 수 있다. #}
{# em과 rem은 font-size에 영향을 미침  #}
{# em의 모든 부모의 폰트사이즈에 영향을 미친다. #}
{# 폰트 사이즈 변경시 rem, em 이 변경된다. #}
    <div style="margin: 2rem; text-align: center">
        <h1>HTTP METHOD</h1>

{#        이 주소로 보내겠다.#}
        <form action="/accounts/hello_world/" method="post">
{#            forma문 안에는 무조건 csrf 해킹을 방기하기 위한 토큰을 무조건 써야한다#}
            {% csrf_token %}
{#            데이터를 가져오기 위해서 라벨링을 해줘야한다. -> name 소것ㅇ#}
            <input type="text" name="input_text">
            <input type="submit" class="btn btn-outline-dark rounded-pill px-5">
        </form>
{#    쌍 중갈호는 일반전은 파이썬 변수 출력 #}
{#    view에서 가져온 키 -> text#}
{#        model_instance만 적으면 안되고 그 안의 text를 쓰기 때문에 text를 붙여줘야함 #}

{#        반복문을 이용해 모든 데이터 표시 #}
        {% for data in data_list %}
            <h3>{{ data.text }}</h3>
        {% endfor %}

    </div>

{% endblock %}